{% extends 'SynergyWebBundle:Layout:menu.html.twig' %}

{% block web_body %}
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4><i class="glyphicon glyphicon-lock"></i> Change Your Password</h4>
                <hr>
                {% for label, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                    <div class="alert alert-{{ label }}" role="alert">
                        <span class="glyphicon glyphicon-alert" aria-hidden="true"></span> 
                            {{ flash }}
                    </div>
                    {% endfor %}
                {% endfor %} 
                <form role="form" action="{{ path('web_security_save_change') }}" method="post">
                    <div class="form-group">
                        <label for="passwordCurrent">Current Password:</label>
                        <input type="password" class="form-control" id="passwordCurrent" name="passwordCurrent" value="{{passwordCurrent}}" required>
                    </div>
                    <div class="form-group">
                        <label for="passwordNew">New Password:</label>
                        <input type="password" class="form-control" id="passwordNew" name="passwordNew" value="{{passwordNew}}" required>
                    </div>
                    <div class="form-group">
                        <label for="passwordRetype">Retype New Password:</label>
                        <input type="password" class="form-control" id="passwordRetype" name="passwordRetype" value="{{passwordRetype}}" required>
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-save"></i> Save Change</button>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}